.asociateahora {
    text-align: center;
}
.asociateahora .accordion {
    width: auto;
    padding-bottom: 50px;
}

.asociateahora p {
    text-align: center;
}
.textogrupofamiliar{
    text-align: left;
    color: $color1;
    margin: 1px;
}
.titulosocios{
    padding-top: 10px;
}