.suscribirse{
text-align: center;
border: #132668 1px solid;
background-color: #f9f9f9;
padding: 10px;
margin: 20px;
}
.suscribirse h2{
color: #132668;
}
.suscribirse p{
color: #132668;
}
.formulario {
display: grid;
grid-template-areas: 
"label1"
"input1"
"label2"
"input2"
"select"
"textarea"
"boton";
padding: 10px;
background: #f9f9f9;
border: 1px solid #c1c1c1;
margin: 20px auto 0 auto;
max-width: 600px;
height: 430px;
}
.select{
grid-area: select;
margin-top: 10px;
}
.textarea{
grid-area: textarea;
margin-top: 10px;
resize: none;
}
.formulario .boton{
grid-area: boton;
margin-top: 10px;
background: #c10000;
color: white;
padding: 7px;
width: 100%;
border: 0;
}
.boton{
background: #c10000;
color: white;
padding: 7px;
border: 0;
}
#email{
padding: 7px;
}
#nombre{
grid-area: input1;
background: #fff;
border: 1px solid #9c9c9c;
}
#numero{
grid-area: input2;
background: #fff;
border: 1px solid #9c9c9c;
}
input:focus {
outline: 3px solid #132668;
}

textarea:focus {
outline: 3px solid #132668;
}

select:focus {
outline: 2px solid #132668;
}
.textocontacto i{
color: #c10000;
}
.textocontacto h6{
color: #132668;
}
.textocontacto p{
color: #132668;
}
.textocontacto a{
color: #132668;
font-weight: lighter;
}
