.maindeportes {
    padding-top: 25px;
}
.deportes{
    text-align: center;
    padding-top: 10px;
}
.cartasfutsal{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.card{
    a{
        background-color: #132668;
        color: white;
    }
}
.card{
    a:hover{
        background-color: #c10000;
        color: white;
    }
}
.partidosfutsal{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}