.noticiasimportantes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.noticiasgenerales{
    margin: 20px;
}
.noticiasgenerales{
    h2{
        margin: 20px;
    }
}
.ultimasnoticias{
    margin-top: 50px;
}