.presupuestoparticipativo{
text-align: center;
padding-top: 20px;
}
.presupuestoparticipativo button{
background-color: $color2;
color: white;
border: black solid 1px;
}
.presupuestoparticipativo button:focus{
background-color: $color1;
color: white;
}
.presupuestoparticipativo button:active{
background-color: $color1;
color: white;
}
.presupuestoparticipativo button:hover{
background-color: $color1;
}
.presupuestoparticipativo p a{
background-color: white;
color: $color1;
}
.titulopresupuesto{
text-align: center;
padding: 20px;
}
.presupuestoparticipativo .card-body{
margin: 30px;
background-color: #f9f9f9;
border: $color2 solid 1px;

}
.presupuestoparticipativo .btn-primary{
margin-left: 30px;
margin-right: 30px;
}
.presupuestoparticipativo .card-title{
color: $color2;
}
