$color1: #c10000;
$color2: #132668;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #c10000;
    width: auto;
    height: auto;
    border: 1px solid black;
  }
  .imagenescudo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  header h1 {
    padding-bottom: 20px;
    color: black;
    text-align: center;
  }
  .navbar-brand{
    padding-left: 10px;
  }
  .barra{
    font-size: 30px;
    margin: auto;
  }
  .nav-link:hover{
    color: white;
  }
  .dropdown-menu{
    background-color: #c10000;
    border: 2px solid black;
  }
  .dropdown-item{
    color: white;
  }
  main {
    border: 1px solid black;
    text-align: center;
  }
  main a {
    color: black;
    text-decoration: none;
  }
  table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
    border: 2px solid #132668;
    text-align: center;
    margin-bottom: 20px;
  }
  
  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
  }
  
  table th {
    text-transform: uppercase;
    width: 110px;
    background: #c10000;
    color: #e8e8e8;
    padding: 8px 0;
    font-weight: normal;
    border-bottom: 2px solid #c10000;
  }
  
  i {
    padding-right: 10px;
    color: #132668;
  }
  footer{
    border: 1px solid black;
    background-color: #132668;
  }
  footer div a i{
    width: 80px;
    height: 20px;
    font-size: 40px;
    color: white;
  }
  footer div a i:hover{
    color: #c10000;
  }
  .spanfooter{
    color: white;
  }
  .segundofooter{
    background-color: black;
    color: white;
  }
  footer p{
    color: white;
  }
  footer h6{
    color: white;
  }
  .footer2 i{
    color: #c10000;
  }
  .footer2 a{
    text-decoration: none;
    color: white;
  }
  @media only screen and (max-width: 991px){
    .dropdown-menu{
      border: none;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    iframe{
      width: 150px;
    }
  }
  @media only screen and (min-width: 800px){
    .partidosfutsal #carouselExampleIndicators{
      width: 700px;
      height: 700px;
    }
  }
  @media only screen and (max-width: 500px){
    .deportes th{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 500px){
    .deportes td{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 888px){
    .cartasfutsal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 1500px;
    }
  }
  @media only screen and (min-width: 992px){
    .navbar-brand{
        display: none
    }
  }
  @media only screen and (max-width: 992px){
    .barra{
        font-size: 20px;
        margin: auto;
        text-align: center;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    .escudo {
        display: none;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    h1 {
        display: none;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    .imagenescudo{
        display: none;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    header {
        height: auto;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .textoinicio {
      font-size: 14px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .select {
      width: 135px;
      font-size: 13px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .label2 {
      font-size: 14px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .textarea {
      width: 135px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #nombre {
      width: 135px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #numero {
      width: 135px;
    }
  }
  @media only screen and (max-width: 456px) {
    .conformaciontabla {
      display: none;
    }
  }
  @media only screen and (min-width: 800px) {
    .noticiasimportantes #carouselExampleCaptions {
      width: 800px;
      height: 400px
    }
  }
@import "_index";
@import "_galeria";
@import "_historia";
@import "_presupuesto";
@import "_babyfutbol";
@import "_futsal";
@import "_contacto";
@import "_asociateahora";
@import "_noticias";